#aside {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 12px;
    padding: 5%;
    background-color: #13131a; 
    color: #9e9ea5;
}

.aside__form, .aside__group {
    min-width: 170px;
    width: 16vw;
}

/* aside box*/
.aside__form {
    color: #ffffff;
    background-color: #292932; 
    border-radius: 6px;
    padding: 6%;
}

.form__title, 
.form__search {
    margin-bottom: 10px;
}

.form__text {
    margin-bottom: 20px;
    color: #9e9ea5;
}

.form__search {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
}

.form__submit {
    width: 150px;
    height: 35px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #0062ff;
}

/* groups checkbox*/
.groups__group,
.form__search,
.form__submit {
    border: none;
}

.group__title {
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #ffffff;
}

.material-symbols-outlined {
    color: #9e9ea5;
    width: 20px;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
}

.group__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
}

.group__option {
    display: flex;
    align-items: center;
}

.group__text {
    cursor: pointer;
}

.group__check {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1.3px solid #cec3c3;
    border-radius: 2px;
    margin-right: 6px;
}

.group__check--checked:checked {
    appearance: auto;
}

.group__number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#292932;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    font-size: 10px;
}