#filter {
  background-color: #13131A;
  display: flex;
  align-items: center;
}

.filters {
  min-width: 600px;
  max-width: 1820px;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #1C1C24;
}

.filters__part {
  height: 100%;
  border: 1px solid #25252D;
  display: flex;
  align-items: center;
}

.filters__part--search {
  border-radius: 10px 0 0 10px;
  padding-left: 30px;
  width: 540px;
  gap: 15px;
}

.filters__part--searchIcon img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.filters__part__filteredItem {
  background-color: transparent;
  padding: 10px;
  width: 150px;
  height: 30px;
  border: 1px solid #747984;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.filters__part__filteredItem--UiUx {
  width: 140px;
}

.filteredItem--remove {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.filteredItem--remove img {
  height: 10px;
  width: 10px;
}

.filters__part--buttons button {
  background-color: transparent;
  border: 0;
  color: #65656F;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  gap: 10px;
  display: flex;
  padding-left: 40px;
  align-items: center;
}

.filters__part button:hover {
  color: white;
  transition: 400ms;
}


.filters__part--filterSymbol {
  width: 16px;
}

.filters__part--location {
  width: 390px;
}

.filters__part--jobType {
  width: 370px;
}

.filters__part--salary {
  width: 430px;
}

.filters__part--findJob {
  width: 190px;
  border-radius: 0 10px 10px 0;
  background-color: #0062FF;
}

.filters__part--findJob button {
  color: white;
  font-weight: bold;
}

@media (max-width: 1490px) {
  .filters__part--filteredItem {
    height: 40px;
  }

  .filters__part--buttons button {
    padding-left: 0;
  }
}